:root {
    --main-bg-color: #828282;
    --header-and-footer-bg-color: #474747;
    --main-text-color: #353535;
    --label-text-color: #5F5F5F;
    --gray: #A5A5A5;
    --light-gray: #C4C4C4;
    --black: #000000;
    --white: #FFFFFF;
    --green: #519945;
    --green-hover: #2a5820;
    // --light-gray-border: 1px solid #D2D5DA;
    // --light-gray-disabled: #D2D2D2;
    // --orange-btn-bg: #FEC538;
    // --red: #FF0000;
    // --orange-btn-hover: #FFDA80;
    // --gray-with-opacity: rgba(0, 0, 0, 0.4);
}